
$primary-normal: rgb(50, 19, 56);
$primary-dark: rgb(23, 10, 26);
$primary-light: rgb(57, 25, 62);

$secondary-normal: rgb(10, 6, 11);
$secondary-dark: rgb(7, 5, 8);
$secondary-light: rgb(47, 31, 50);

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #b74040;
$red-dark: #7d2121;
$red-light: #d34040;